<div class="container">
    <div class="header mb-5">
        <div class="title">
            <h1 class="mb-0 mt-3">Bus Booking App</h1>
        </div>
        <span class="expand"></span>
        <div class="login">
            <form [formGroup]="loginForm">
                <div class="form-row mb-3">
                    <div class="col-sm-5">
                        <label class="mb-1" for="email">Email</label>
                        <input type="text" formControlName="email" name="email"
                            class="form-control form-control-sm mb-1">
                        <div class="p-0" *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
                            <p *ngIf="loginForm.get('email').errors.required" style="color: red;" class="m-0">Email
                                required</p>
                            <p *ngIf="loginForm.get('email').errors.pattern" style="color: red;" class="m-0">Enter a
                                Valid Email</p>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <label class="mb-1" for="pass">Password</label>
                        <input type="password" formControlName="pass" name="pass"
                            class="form-control form-control-sm mb-1">
                        <div class="p-0" *ngIf="loginForm.get('pass').invalid && loginForm.get('pass').touched">
                            <p style="color: red;" class="m-0">Password required</p>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-12 login-btn">
                        <label style="visibility: hidden;" class="mb-1" for="">Hello</label>
                        <button (click)="onLoginUser()" class="btn btn-sm btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--SIGNUP-->

    <div class="signup">
        <div class="signup-form shadow-lg">
            <form [formGroup]="signupForm">
                <h2 class="text-center mb-2">Create User</h2>
                <p>All Fields are Required *</p>
                <div class="form-group form-row mb-0">
                    <div class="col-sm-6 col-xs-12 mb-3">
                        <input class="form-control" placeholder="First Name" type="text" id="fname"
                            formControlName="fname">
                    </div>
                    <div class="col-sm-6 col-xs-12 mb-3">
                        <input type="text" placeholder="Last Name" class="form-control" id="lname"
                            formControlName="lname">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend mr-1">
                            <div class="input-group-text">+91</div>
                        </div>
                        <input type="tel" placeholder="Phone number" class="form-control mt-0" formControlName="phone">
                    </div>
                    <div class="mb-0 mt-1"
                        *ngIf="signupForm.get('phone').invalid && signupForm.get('phone').touched && signupForm.get('phone').dirty">
                        <div class="m-0" role="alert" class="alert alert-danger p-0 m-0">
                            <p class="p-1 m-0">Enter a 10 digit mobile number</p>
                        </div>
                    </div>
                </div>

                <div class="form-group bg-white pl-2" style="width: fit-content; border-radius: 3px;">
                    <div class="form-check form-check-inline text-dark">
                        <input class="form-check-input" value="Male" type="radio" formControlName="gender"
                            id="male">
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check form-check-inline text-dark">
                        <input class="form-check-input" value="Female" type="radio" formControlName="gender"
                            id="female">
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                    <div class="mb-0 mt-1" *ngIf="signupForm.get('gender').invalid && signupForm.get('gender').touched">
                        <div role="alert" class="alert alert-danger p-0 m-0">
                            <p class="p-1 m-0">Select a Gender</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input dobDash maxlength="10" type="text" formControlName="dob" placeholder="DOB: dd/mm/yyyy" class="form-control"
                        matTooltip="'/' will be added automatically as you type">
                    <div class="mb-0 mt-1"
                        *ngIf="signupForm.get('dob').errors?.pattern && signupForm.get('dob').touched && signupForm.get('dob').dirty">
                        <div role="alert" class="alert alert-danger p-0 m-0">
                            <p class="p-1 m-0">Enter a valid Date of Birth</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Email Id" class="form-control"
                        formControlName="emailSignup">
                    <div class="mb-0 mt-1"
                        *ngIf="signupForm.get('emailSignup').invalid && signupForm.get('emailSignup').touched && signupForm.get('emailSignup').dirty">
                        <div role="alert" class="alert alert-danger p-0 m-0">
                            <p class="p-1 m-0">Enter a valid email address</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input [type]="showPass? 'text' : 'password' " placeholder="Password" class="form-control" name="passSignup"
                        formControlName="passSignup">
                    <div class="mb-0 mt-1"
                        *ngIf="signupForm.get('passSignup').errors?.pattern && signupForm.get('passSignup').touched && signupForm.get('passSignup').dirty">
                        <div role="alert" class="alert alert-danger p-0 m-0">
                            <p class="p-1 m-0">Min 8 characters required</p>
                        </div>
                    </div>
                    <div class="form-check" style="width: fit-content;">
                        <label (click)="onShowPass($event)" class="show-pass form-check-label">
                            <input class="form-check-input" type="checkbox">Show password
                        </label>
                    </div>

                </div>
                <div class="form-group">
                    <input type="password" placeholder="Retype Password" class="form-control" formControlName="repass">
                    <div class="mt-1" *ngIf="signupForm.get('repass').valid && signupForm.get('passSignup').valid">
                        <div role="alert" class="alert alert-danger p-0 m-0" *ngIf="passInput!==repassInput">
                            <p class="p-1 m-0">Passwords do not match !</p>
                        </div>
                        <div role="alert" class="alert alert-success p-0 m-0"
                            *ngIf="signupForm.get('repass').value === signupForm.get('passSignup').value">
                            <p class="p-1 m-0">Passwords Match !</p>
                        </div>
                    </div>
                </div>
                <div class="signup-btn">
                    <button class=" btn btn-success" (click)="onCreateUser()">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>