<div class="container">
    <div class="seat-layout">
        <div class="seat" (click)="onSeatSelect(i+1, $event)" *ngFor="let seat of seatArray;let i=index">
            {{i+1}}
        </div>
    </div>
    <div class="user-info">
        <h4>Booking Summary</h4>
        <div class="row">
            <div class="col-sm-4">
                <p>From : </p>
            </div>
            <div class="col-sm-8">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>To : </p>
            </div>
            <div class="col-sm-8">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>Date : </p>
            </div>
            <div class="col-sm-8">
                
            </div>
        </div>
        <div class="seat-user-info" *ngFor="let seatNo of selectedSeatNos;let i=index">
            <div class="row" *ngIf="seatClicked">
                <div class="col-sm-4">
                    <p class="mb-1">Seat No : </p>
                </div>
                <div class="col-sm-8">
                    <p class="mb-1">{{ seatNo }}</p>
                </div>
            </div>
            <div class="form-row" *ngIf="seatClicked">
                <div class="col-sm-4 mb-1">
                    <input class="form-control form-control-sm" type="text" name="name" id="name" placeholder="Name">
                </div>
                <div class="col-sm-3 mb-1">
                    <input class="form-control form-control-sm ml-1" type="number" min="1" max="100" name="age" id="age" placeholder="Age">
                </div>
                <div class="col-sm-5 mb-1">
                    <label class="form-check-label mr-2" [for]="'male'+i"><input class="" type="radio" [name]="'gender'+i" [id]="'male'+i">Male</label>
                    <label class="form-check-label" [for]="'female'+i"><input class="" type="radio" [name]="'gender'+i" [id]="'female'+i">Female</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>Total Seats : </p>
            </div>
            <div class="col-sm-8">
                {{ selectedSeatNos.length }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>Fare : </p>
            </div>
            <div class="col-sm-8">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>Service Tax : </p>
            </div>
            <div class="col-sm-8">
                180
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p>Total Charges : </p>
            </div>
            <div class="col-sm-8">
                
            </div>
        </div>
        <button class="btn-sm btn btn-primary" (click)="onButton()">Confirm</button>
    </div>
</div>

