.headers {
    display: flex;
}

.headers li {
    list-style-type: none;
    cursor: pointer;
}

.headers li a {
    text-decoration: none;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.3);
}

.headers > div {
    flex-shrink: 1;
    flex-grow: 1;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.3);
}

.active {
    background-color: rgba(33, 228, 33, 0.5);
    border-radius: 5px;
}
.links-disabled {
    cursor: not-allowed;
    pointer-events: none;
}
.back-btn {
    width: fit-content;
    margin-left: auto;
}