<div class="headers">
    <div class="p-2 text-center">
        <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="plan">Plan Your Travel</a></li>
    </div>
    <div class="ml-1 p-2 text-center">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="seat" >Select Your Seats</a></li>
    </div>
    <div class="ml-1 p-2 text-center">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="payment">Payment</a></li>
    </div>
    <div class="ml-1 p-2 text-center">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="confirm">Ticket Confirmation</a></li>
    </div>
</div>